.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 175px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fff}

.show {display:block;}