.button {
   border: 1px solid #ff0000;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   background-image: -ms-linear-gradient(top, #000000 0%, #000000 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #ff0000;
   text-shadow: #1e4158 0 1px 0;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   color: #000000;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #ff0000;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#ffffff));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   background-image: -ms-linear-gradient(top, #000000 0%, #000000 100%);
   color: #fff;
   }
.navbar-nav{
	padding-top: 25px;
}
.navbar-brand{
	padding: 18px;	
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color: #df7e82;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #fda1a3;
	background-color: transparent;
}
.navbar-nav>li{
	text-transform: uppercase;
	font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.carousel-caption h1{
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 60px;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.carousel-caption h3{
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	margin-top: 10px;
}

.carousel-caption{
	top: 10%;
	text-shadow: none;
}
.panel-group .panel{
	border-radius: 0;
	overflow: hidden;
	margin-bottom: 20px;
}
.panel-default{
	border-color: transparent;
}
.panel{
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn{
	border-radius: 0px;
	margin : 20px;
	text-decoration: none;
	padding: 20px 40px;
	font-size: 18px;
	line-height: 19px;
	text-transform: uppercase;
	font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
}
.carousel-indicators li{
	border: 1px solid #ff5733;
}
.carousel-indicators .active{
	background-color: #ff7533;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	color: #ff5733;
	background-color: transparent;
}
.nav>li>a:hover, .nav>li>a:focus{
	text-decoration: none;
	background-color: transparent;
}
.nav>li>a{
	font-size: 90%;
	position: relative;
	cursor:pointer;
	display: block;
	padding: 1.1em 1em!important;
	letter-spacing: 1px;
}
.pagination {	
	border-radius: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{	
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color: #ff5733;
	border-color: #ff5733;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
	color: #282828;
}
.pagination>li>a, .pagination>li>span{
	color: #282828;
}
.form-control{
	height: 46px;
	padding: 12px 18px;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	transition: none;
}
.form-control:focus{
	border-color: #ff5733;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-toggle{
	margin-top: 35px;
}
.navbar-default .navbar-toggle{
	border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #ff5733;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
.navbar-collapse{
	text-align: center;
	border-top: none;
	box-shadow: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #777;
	background-color: transparent;
}


/* ----------------------------------------------------
	2) GENERAL STYLE
------------------------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;	
	color: #333;
	line-height: 1.6;		
	background-color:#fff;
	background-repeat:repeat;
	margin-bottom: 52px;
}
a{ 
	color:#fda1a3;
	padding: 0;
	margin: 0;
	text-decoration: none; 
}
a:hover,
a:focus {
	text-decoration: none;
	color:#ff5733;
}
.bg-color{
	background-color: #f2f2f2;
	padding: 25px 0px 10px 0px;
}
.general-title h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 31px;
	text-transform: uppercase;
	text-align: center;
	color: #333;
}
.service-title h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #282828;
	text-transform: uppercase;
	font-weight: 600;	
}
.project-title h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;	
}
.title-devider{
	border-bottom: 2px solid #ff5733;
	display: block;
	width: 100px;
	margin: auto;
	margin-bottom: 40px;
}
.padding-top{
	padding-top: 70px;
}
.padding-bottom{
	padding-bottom: 70px;
}
.bg-color{
	background-color: #f2f2f2;
}
.white-btn{
	color: #fff;
	background-color: transparent;
	border-color: #fff;	
}
.white-btn:hover{
	background-color: transparent;
	color: #ff5733;
	border-color: #ff5733;
}
.orange-btn{
	color: #ff5733;
	background-color: transparent;
	border-color: #ff5733;	
}
.orange-btn:hover{
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}
.black-btn{	
	color: #282828;
	background-color: transparent;
	border-color: #282828;	
}
.black-btn:hover{
	color: #ff5733;
	background-color: transparent;
	border-color: #ff5733;
}

/* ----------------------------------------------------
	3) HEADER
------------------------------------------------------- */

.header-navbar{
	background-color: #000000;
	border-color: transparent;
	border-radius: 0;
	min-height: 80px;
	margin-bottom: 0;
	border: none;
}
	
/* ----------------------------------------------------
	4) SLIDER STYLES
------------------------------------------------------- */

.header-carousel{
	background-color: #282828;
}
.header-carousel-caption{
  z-index: 1;
}
.header-carousel .item{
  height: 600px;
}
.header-carousel img{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 600px;
}

/* ----------------------------------------------------
	5) SITE WRAPPER STYLES
------------------------------------------------------- */

.site-wrapper{
	padding-top: 70px;
}

/* ----------------------------------------------------
	6) PROJECTS STYLES
------------------------------------------------------- */

/* Index Projects Styles */
.projects .col-md-3{
	padding-right: 0;
	padding-left: 0;
}
.project-inner{
	position: relative;
	padding: 0;
	overflow: hidden;	
}
.project-inner>img, .project-inner>a img, .project-caption>img{
	display: block;
	max-width: 100%;
	height: auto;
}
.project-inner .project-caption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(40,40,40,0.7);		
	visibility: hidden;
	opacity: 0;	
}
.project-inner:hover .project-caption, .project-inner:focus .project-caption{
	visibility: visible;
	opacity: 1;
}
.project-caption i{
	color: #ff5733;
}
.project-caption h3{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}
.project-caption{
	color: #fff;
	text-align: center;
}
.project-details{
	position: absolute;
	width: 100%;
	top: 40%;
}
.all-projects{
	background-color: #282828;
	padding: 50px 0;
}

/* Inner Projects Styles */
.projects-thumbnail{
	overflow:hidden;	
	display: block;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}
.projects-thumbnail img{ 
position:relative; height: 300px; 
}
.row-bottom { position:absolute; bottom:0; width:100%; }

.gallery-inner {
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.gallery-inner li {
	list-style: none;
	float: left;
	width: 50%;
	text-align: center;
}
.gallery-inner img {
	display: block;
	max-width: 100%;
	border: 1px solid #fff;
}
.project-info b{
	color: #ff5733;
}
.project-info ul{
	padding-left: 0;
	padding: 10px 0;
}
.project-info ul li {	
	list-style: none;
	padding-left: 2px;
	padding-bottom: 5px;
}
.project-item{
	margin-bottom: 30px;
}
.project-item:hover .project-title {
	color: #ff5733;
}
/* ----------------------------------------------------
	ABOUT STYLES
------------------------------------------------------- */

.about-indicators{
	bottom: -40px;
}
.team-inner{
	overflow:hidden;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;	
}
.team-inner a{
	margin-right: 10px;
}
.team-title h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #282828;
	text-transform: uppercase;
	font-weight: 600;	
}
.team-inner h5{
	color: #ff5733;
}
.team-caption{
	padding: 10px;
	background-color: #fff;
}
.team-inner img{	
}
.team-inner img:hover{
}


/* ----------------------------------------------------
	FOOTER STYLES
------------------------------------------------------- */

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;	
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: #282828;
	color: #b6b6b6;
}
#footer a{
	margin-right: 5px;
}

/* ----------------------------------------------------
	RESPONSIVE STYLES
------------------------------------------------------- */

@media only screen and (min-width : 1224px) {
	.dropdown-menu li:hover .sub-menu {visibility:visible;}
	.dropdown:hover .dropdown-menu {display: block;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.carousel-caption {top: 15%;}
	.carousel-caption h1 {font-size: 50px;}
	.dropdown-menu li:hover .sub-menu {visibility:visible;}
	.dropdown:hover .dropdown-menu {display: block;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.carousel-caption {top: 15%;}
	.carousel-caption h1 {font-size: 50px;}
}

@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {background-color: #f2f2f2; text-align:center;}
}
